{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"tabWidth": 4,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [
		{ "files": "src/**/**.svelte", "options": { "parser": "svelte" } }
	]
}
